AWS_REGION=us-east-1
AGENTCORE_RUNTIME_ARN=TBD
DYNAMODB_PRODUCTS_TABLE=p07-ph1-shopping-agent-dev-products
DYNAMODB_REVIEWS_TABLE=p07-ph1-shopping-agent-dev-reviews
DYNAMODB_ORDERS_TABLE=p07-ph1-shopping-agent-dev-orders
LAMBDA_SEARCH_PRODUCTS_ARN=TBD
LAMBDA_GET_RATING_ARN=TBD
LAMBDA_PLACE_ORDER_ARN=TBD
LAMBDA_SEARCH_BY_IMAGE_ARN=TBD
